.card {
  flex-basis: 35%;
  border: 3px solid black;
}

section {
    max-width: 800px;
    margin: 0 auto;
  }

  .details-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .desc {
    flex: 1;
    margin-right: 20px;
  }

  .spot-details h2 {
    font-size: 32px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .spot-details h4 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    width: 60%;
  }


  .images img {
    width: 200px;
    margin-right: 10px;
  }


  .host h3 {
    font-size: 22px;
    margin: 20px 0 10px;
  }

  .price {
    font-weight: bold;
    font-size: 20px;
  }


  .rating {
    font-size: 18px;
  }

  .rating-and-review {
    display: flex;
    align-items: center;
    gap: 20px;
  }


